html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #30c4fc, #40a555);
    background: -o-linear-gradient(-135deg, #30c4fc, #40a555);
    background: -moz-linear-gradient(-135deg, #30c4fc, #40a555);
    background: linear-gradient(-135deg, #30c4fc, #40a555);
}