@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        <strong>Hata:</strong> @ViewData["Error"]  <!--Error varsa Create metodundaki error u yazdır-->
    </div>
}

@if (ViewData["Success"] != null)
{
    <h3 class="display-8 text-center">Başvuru Gönderme</h3>
    <div class="alert alert-success">
        <strong>@ViewData["Success"]</strong>  <!--Success olduysa Create metodundaki success i yazdır-->
    </div>
}